@using BaseballAnalyzer.Web.Models
@model TeamRoster

<h1>Team Roster</h1>
<ul>
	@foreach (var player in Model.Players)
	{
		<li>@player.LastName, @player.FirstName</li>
	}
</ul>

<script src="bower_components/angular/angular.js"></script>